.wgsl_split_layout {
    display: flex;
    flex: 0 0 var(--size, 100%);
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.wgsl_split_layout.horizontal {
    flex-direction: row;
}
.wgsl_split_layout.vertical {
    flex-direction: column;
}
.wgsl_split_layout.horizontal > .wgsl_divider {
    width: 4px;
    cursor: col-resize;
}
.wgsl_split_layout.vertical > .wgsl_divider {
    height: 4px;
    cursor: row-resize;
}
.wgsl_divider {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    flex-grow: 0;
}
